<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
</head>
<body>
<div>
    <h1>All Books</h1>
</div>
<table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>title</th>
                <th>authors</th>
                <th><a href="{{url_for('show_all_books', sort_by='published_date') }}">published_date</a></th>
            </tr>
        </thead>
        <tbody>
            {% for item in books %}
            <tr>
                <td><a href="{{url_for('book_details', bookid=item.id) }}">{{item.title}}</a></td>
                <td>{{item.authors}}</td>
                <td>{{item.published_date}}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table><br>
</body>
</html>