<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
    <div>
        <h1>Library with REST API!</h1>
    </div>
    <p>
        Be sure to read the API documentation <a href="https://documenter.getpostman.com/view/17258206/UVC5F82t"
                                                 target="_blank" rel="noopener noreferrer">here</a>.
    </p>
    <form>
         <button type="submit" formaction="{{url_for('library_app.show_all_books')}}">Show me all books</button>
    </form>
</body>
<footer>
    <p>Made with ♥️ in Poznań.</p>
</footer>
</html>